<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <link rel="stylesheet" href="{{ site.theme.uri }}/style.css?v=1.0.2">
    <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/intersect@3.x.x/dist/cdn.min.js"></script> 
    <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js?render=explicit" async defer></script>
    <style>[x-cloak] { display: none !important; }</style>
    {{ function('wp_head') }}
</head>
<body class="bg-background-light text-text-main font-body antialiased selection:bg-primary selection:text-white">
    {% include 'components/navbar.twig' %}

    <main id="content" class="min-h-screen">
        {% block content %}{% endblock %}
    </main>
    {% include 'components/contact-modal.twig' %}
    {% include 'components/convenios-modal.twig' %}

    {% include 'components/floating-buttons.twig' %}

    {% include 'components/footer.twig' %}

    {{ function('wp_footer') }}
</body>
</html>